body {
  padding-top: 50px;
}

.centralmessage {
  padding: 40px 15px;
  text-align: center;
}

#time_handler {
    width : 100%;
    text-align : right;
}

#space_handler {
    text-align : right;
}

#time_slider {
    margin-top : 10px;
    margin-bottom : 10px;
}

#jam_space_slider {
    margin-bottom : 10px;
}

#morse_bloc {
    text-align : right;
    margin-right : 120px;
}
#sim_console {
    background-color:  black;
    color: rgb(163, 211, 159);
    font-weight:  bold;
    padding:  20px;
    border-radius: 20px;
    border: 5px lightgrey;
    border-style:  solid;
}

#sim_console ul {
list-style-type: none;
}

#sim_console li:before {
content: "pirate@hackysack.hack>>";
    margin-right: 4px;
}

#morse_message{
    width : 130px;
    font-size:300%;
}
#above_morse_message{
    width : 130px;
}

#simul_container{
    width:100%;
}

#morse_text {
  text-transform: uppercase;
}

#temp_message {
border-radius: 20px;
background-color: rgb(223, 223, 223);
border: #302C5B solid;
padding-left: 5px;
padding-right: 5px;
}

#console-log-header {
font-family: monospace;
}
#simul {
    height : 160px;
}

#clock {
        padding : 20px;
}
#objectiveTable{
    width : 801px;
}
.objectiveSlider{
    width : 100%;
}
#objectiveTable td{
    padding-top : 5px;
    padding-bottom : 5px;
}
.important{
    font-weight : bold;
}
#cmResults{
    width: 100%;
}