body {
  padding-top: 50px;
}

.centralmessage {
  padding: 40px 15px;
  text-align: center;
}

#time_handler {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align : right;
}

#space_handler {
    text-align : right;
}

#time_slider {
    margin-top : 10px;
    margin-bottom : 10px;
}

#jam_space_slider {
    margin-bottom : 10px;
}

#morse_bloc {
    text-align : right;
}
#sim_console {
    background-color:  black;
    color: rgb(163, 211, 159);
    font-weight:  bold;
    padding:  20px;
    border-radius: 20px;
    border: 5px lightgrey;
    border-style:  solid;
}

#sim_console ul {
list-style-type: none;
}

#sim_console li:before {
content: "+";
    margin-right: 4px;
}

