body {
  padding-top: 50px;
}

.centralmessage {
  padding: 40px 15px;
  text-align: center;
}

#time_handler {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align : right;
}

#time_slider {
    margin-top : 10px;
}