@()


@main("Demo 2 : Write your initials",menu="demo2") {

<h1 class="centralmessage">Freeway demo</h1>
<div id="time_handler">
    <button id="play_button" type="button">Play</button>
    <div id="time_slider"></div>
</div>

<table id="simul_container">
    <tr id="simul_container2">
        <td id="simul" class="morse"></div>
        <td id="morse_message"></div>
    </tr>
</table>
<div id="morse_bloc">
    <input id="morse_text" value="CAL">
    <button id="morse_button" type="button">Create your Jam !</button>
</div>
@console("*** Demo 2 : write your initials ***")
}
