@()


@main("Demo 2 : Write your initials",menu="demo2") {

<br />
Type your initials and watch a "personalized" jam take place along the freeway. <br />
<button class="btn btn-large advance-btn"><a href="/demo3">Continue to Act III</a></button>

<table id="time_container">
    <tr id="time_container2">
        <td id="clock"></td>
        <td id="time_handler">
            <button id="play_button" type="button" class="btn">Play</button>
            <div id="time_slider"></div>
        </td>
    </tr>
</table>

<table id="simul_container">
    <tr id="simul_container3">
        <td id="control"></td>
        <td id="above_morse_message"></td>
    </tr>
    <tr id="simul_container2">
        <td id="simul"></td>
        <td id="morse_message"></td>
    </tr>
</table>
<div id="morse_bloc">
    <input id="morse_text" value="CAL">
    <button id="morse_button" type="button" class="btn">Create your Jam !</button>
</div>
@console("*** Demo 2 : write your initials ***")
}
