@()


@main("Controlling the Freeway",menu="demo1") {

<h1 class="centralmessage">Act I: Jam Creator</h1>
Choose an interval along the freeway and time duration to create a hyper-localized jam.
        <br />
<button class="btn btn-large advance-btn"><a href="/demo2">Continue to Act II</a></button>
<div id="time_handler">
    <button id="play_button" type="button">Play</button>
    <div id="time_slider"></div>
    <div id="jam_time_slider"></div>
</div>
<div id="simul_container">
    <div id="simul">
    </div>
</div>
<div id="space_handler">
    <div id="jam_space_slider"></div>
    <button id="jam_button" type="button">Create your Jam !</button>
</div>


@console("*** Demo 1 : create your jam ***")
}
