@()


@main("Controlling the Freeway",menu="demo3") {

<br />
Example of control precision
<br />
<table id="time_container">
    <tr id="time_container2">
        <td id="clock"></td>
        <td id="time_handler">
            <button id="play_button" type="button" class="btn">Play</button>
            <div id="time_slider"></div>
            <input type="checkbox" id="revealBox"> Draw Space/Time Diagram
        </td>
    </tr>
</table>
<div id="simul_container">
    <div id="control"></div>
    <div id="simul"></div>
    <div id="spacetime"></div>
</div>


@console("*** Demo 3 : Jam painter ***")
}
