@()


@main("Demo 2 : Write your initials",menu="demo2") {

<h1 class="centralmessage">Act II: Morse Attack</h1>
Type your initials and watch a "personalized" jam take place along the freeway.
        <br />
<button class="btn btn-large advance-btn"><a href="/demo3">Continue to Act III</a></button>
<div id="time_handler">
    <button id="play_button" type="button">Play</button>
    <div id="time_slider"></div>
</div>

<table id="simul_container">
    <tr id="simul_container3">
        <td id="control"></td>
        <td id="above_morse_message"></td>
    </tr>
    <tr id="simul_container2">
        <td id="simul"></td>
        <td id="morse_message"></td>
    </tr>
</table>
<div id="morse_bloc">
    <input id="morse_text" value="CAL">
    <button id="morse_button" type="button">Create your Jam !</button>
</div>
@console("*** Demo 2 : write your initials ***")
}
