@()


@main("Controlling the Freeway",menu="freeway") {

<h1 class="centralmessage">Freeway Speed Viewer</h1>
Watch the evolution of the speed of traffic on a freeway over a typical rush hour period.
        <br />
<button class="btn btn-large advance-btn"><a href="/demo1">Continue to Act I</a></button>
<div id="time_handler">
    <button id="play_button" type="button">Play</button>
    <div id="time_slider"></div>
</div>
<div id="simul_container">
    <div id="simul">
    </div>
</div>
@console("*** Freeway simulation ***")
}
