@()


@main("Controlling the Freeway",menu="freeway") {
<br />
Watch the evolution of the speed of traffic on a freeway over a typical rush hour period.<br />
<button class="btn btn-large advance-btn"><a href="/demo1">Continue to Act I</a></button>


<table id="time_container">
    <tr id="time_container2">
        <td id="clock"></td>
        <td id="time_handler">
            <button id="play_button" type="button" class="btn">Play</button>
            <div id="time_slider"></div>
        </td>
    </tr>
</table>

<div id="simul_container">
    <div id="control"></div>
    <div id="simul">
    </div>
</div>
@console("*** Freeway simulation ***")
}
